[2020-09-29 15:03] ashishnagpal2498 opened #1 "Create a logo for the project"
You have to create a logo for the project which is
- simple
- attractive
- goes with the concept of project.
Figma design, photoshop files accepted.

[2020-09-29 15:05] ashishnagpal2498 opened #2 "Design homepage for the project"
Requirements are as follows.
- Description
- Developer / Organization
- Dashboard
- About
- Contests
This issue is purely based on designing purpose.
Figma or Photoshop.

[2020-09-29 15:47] kcclemo commented on #1
I'd like to work on this, please!

[2020-09-29 16:14] ashishnagpal2498 commented on #1
Sure. Go on @kcclemo .

[2020-10-01 14:38] maebasmrt commented on #2
Hi @ashishnagpal2498 ,I wnat to be part of this project

[2020-10-01 14:43] ashishnagpal2498 commented on #2
Sure, you can start working on the issue. Provide me a PR within two days. Make sure the requirements are fulfilled.
Design should be simple and satisfy all the points in readme file.

[2020-10-01 14:51] ashishnagpal2498 opened #4 "Color code and Typography for the project"
Define color codes and fonts to be used for the project.
This issue is purely based for UX researcher. Provide the reasons for choosing color codes.

[2020-10-02 00:58] Rihanat commented on #2
Hi @ashishnagpal2498 i would like to do this

[2020-10-02 15:46] royquilor commented on #1
Hi, would love to share an idea but the design is based on a font which is - free for personal use. Would that be acceptable?

[2020-10-03 20:57] royquilor commented on #1
Hi, I would love to submit a concept?

[2020-10-04 15:33] utchak160 commented on #4
@ashishnagpal2498 Please assign this to me.

[2020-10-05 16:07] utchak160 commented on #4
I've to add the variables of the color code? As then it would be in scss and the project is setup for css.

[2020-10-06 20:50] kavita121 commented on #1
Heyy!! Can I work on this??

[2020-10-07 05:26] ashishnagpal2498 commented on #4
No, Just mention the color codes in json file and all the fonts. Also when you provide the PR, do mention the reason of choosing such colors and fonts. Add links for viewing.

[2020-10-07 05:27] ashishnagpal2498 commented on #2
@Rihanat @maebasmrt Its been almost a week ?

[2020-10-07 13:52] kavita121 commented on #1
Hey!! I have made a few designs, can I upload a png file I have made it in Illustrator?

[2020-10-08 10:04] maebasmrt commented on #2
Appologies @ashishnagpal2498 , I will get back to you before the end of today

[2020-10-08 10:42] maebasmrt commented on #2
https://www.figma.com/file/MTFu2wmtN6eH9osiLY3Chi/Hackstation-open-source?node-id=0%3A1

[2020-10-08 10:43] maebasmrt commented on #2
Here is my submission @ashishnagpal2498 , Let me know what you think

[2020-10-08 11:12] ashishnagpal2498 commented on #2
This looks good,
1. Just remove team section and add something related to dashboard. Providing number of hours, graphs. Something catchy.
2. Also can you change the top most section ? It should be like choose developer or organization, somewhat like it used to be for HackerRank.

[2020-10-08 11:34] maebasmrt commented on #2
ok @ashishnagpal2498

[2020-10-08 11:39] maebasmrt commented on #2
I will get back to you soon

[2020-10-10 08:10] utchak160 commented on #4
https://coolors.co/7400b8-6930c3-5e60ce-5390d9-4ea8de-48bfe3-56cfe1-64dfdf-72efdd-80ffdb
According to me, this color palette will best be suited for this use case because it has a smooth mixture and the user will like to see the page so as to track his or her coding hours regularly. Please tell me your views.

[2020-10-11 20:39] maebasmrt commented on #2
You can now check updates made to the design @ashishnagpal2498

[2020-10-14 19:54] ashishnagpal2498 commented on #2
By number and graphs I meant, coding activity. Refer this - https://wakatime.com/

[2020-10-14 20:02] ashishnagpal2498 opened #8 "Content Writing for Homepage"
This issue is related to writing content for the project. The requirements are mentioned in the MD which will give basic idea about the project.
The content should be precise defining who we are, what we do, provide features.
Refer to design - https://www.figma.com/file/MTFu2wmtN6eH9osiLY3Chi/Hackstation-open-source?node-id=0%3A1

[2020-10-14 20:07] maebasmrt commented on #2
Oh ok. I understand now

I will get back to you

[2020-10-30 14:20] ashishnagpal2498 commented on #2
@maebasmrt , still working on this issue? tomorrow is last day for Hacktoberfest. Submit a PR by the end of the day to get merged in Hacktoberfest.

[2020-12-26 17:36] smriti1313 opened #9 "DWOC issue"
Hello, I cannot see any issue under DWOC label. I guess your project is a part of projects provided by DWOC2020. I guess you forgot to add label or something. Kindly check to that.

[2020-12-26 18:00] IshetaBansal commented on #8
I would like to work on the homepage regarding this issue. I am proficient in the English language. Please assign it to me.
Regards.

[2020-12-27 06:51] Vrushti24 commented on #8
I would like to contribute in this please assign me

[2020-12-27 08:30] ashishnagpal2498 commented on #8
Sure. @IshetaBansal assigning it to you. Please mention Open-source Community you are contributing for.

[2020-12-27 08:31] ashishnagpal2498 commented on #8
@Vrushti24 , you can take up other issues.

[2020-12-27 08:41] Vrushti24 commented on #8
@ashishnagpal2498  okay

[2020-12-27 16:36] IshetaBansal commented on #8
Alright. Thanks a lot!

[2020-12-27 16:38] IshetaBansal commented on #8
I am contributing for DWOC.

[2020-12-28 07:31] ashishnagpal2498 opened #10 "Create Header Component"
Create a header react component for the project.
The header should be *responsive*. Use **CSS flex boxes** for implementation.
Refer -
![HackstationHeader1](https://user-images.githubusercontent.com/36301481/103197737-a31db380-490c-11eb-98d0-caafaf18d0f5.png)
1) OnHover it should show underline.
2) Use proper tags and Links of react-router-Dom
3) The component file is already present. Make changes

[2020-12-28 07:39] ashishnagpal2498 opened #11 "Create Template for contribution"
Create proper template for issue raising and pull request which are submitted to make sure it meets the basic requirements.

1) .github folder - files added -> Issue_template, Pull_request_template.
2) Refer -> https://github.com/vinitshahdeo/Water-Monitoring-System/tree/master/.github

It should display somewhat like this.

**Describe the bug**
A clear and concise description of what the bug is.

[2020-12-28 07:43] ashishnagpal2498 commented on #9
I was about to add. Thanks for reminder @smriti1313 .

[2020-12-28 07:43] #9 closed

[2020-12-28 07:43] #1 closed

[2020-12-28 08:05] smriti1313 commented on #11
Hi, i would like to do this stuff.

[2020-12-28 09:26] anushkasinghal11 commented on #10
Can we use reactstrap or material-ui for this?

[2020-12-28 09:35] ivaibhavjindal commented on #10
Hi @ashishnagpal2498! I'd like to work on this. Could you illustrate on the point 1 like border bottom only or complete border? Also where should I keep the css file for Navbar or make changes in index.css file only?

[2020-12-28 10:01] sanjay270899 commented on #10
I want to work on this.

[2020-12-28 12:28] IshetaBansal commented on #8
Hey @ashishnagpal2498
Could you please mention what all things you would like me to cover?

[2020-12-28 19:12] akrish4 opened #12 "Contributing.md file and Code_of_conduct.md file"
Hi @ashishnagpal2498  @kavita121
I found that your project repository is not having a `contributing.md` file which consists of all contribution guidelines and a `code_of_conduct.md`  file  , I would like to work on this ,  kindly assign me.

[2020-12-28 19:19] ashishnagpal2498 commented on #10
@anushkasinghal11 No. For now we'll be using plain CSS only. Would you like to work on this or should I assign it to @ivaibhavjindal .

[2020-12-28 19:21] ashishnagpal2498 commented on #12
Please brief about the guidelines you want to add.

[2020-12-28 19:34] akrish4 commented on #12
@ashishnagpal2498
the contributing guidlines like
- how to contribute to this repository ie fork , git commands to clone , git commands to push , commit  etc
- always open a issue before opening a PR
- always follow code of conduct
all these types of things in a well documented format so that the newbie or beginners who wish to contribute to this repository could follow those guidelines and can un

[2020-12-29 05:15] antaramunshi commented on #2
@ashishnagpal2498 i'd like to work on this issue if its still open . Also,Can you add the dwoc label as well?

[2020-12-29 05:20] antaramunshi commented on #4
32,194,14 RGB with a black bg would look actually cool since it's a coding status bar. We can also keep a light mode for those who would like to work in  the light mode. And ig Lato as a font would enhance the page. I think i'll be able to work on this. Can you assign this to me?

[2020-12-29 06:46] Akshit42-hue commented on #10
I like to work on this issue

[2020-12-29 11:28] himanshu007-creator commented on #4
i would like to work on this issue. Please assign me this issue.

[2020-12-29 13:33] dsnehasish74 commented on #10
I want to work on this please assign this to me.

[2020-12-30 05:48] ashishnagpal2498 commented on #12
Okay. Add simple steps of how to setup the project (in your language). Go through the project once.

[2020-12-30 05:51] ashishnagpal2498 commented on #10
Since, @ivaibhavjindal commented first. I will be assigning it to him.
Others -> I will be raising more issues soon. You can grab those.

[2020-12-30 05:53] ashishnagpal2498 commented on #8
Read the project description and create content according to that. Refer this design - https://www.figma.com/file/MTFu2wmtN6eH9osiLY3Chi/Hackstation-open-source?node-id=0%3A1

[2020-12-30 06:18] akrish4 commented on #12
ok sure @ashishnagpal2498

[2020-12-30 06:21] ashishnagpal2498 commented on #2
Sure @antaramunshi . I hope you have read previous comments + project description and know what requirements I want. Assigning it to you.
You got 5 days to complete it.
Keep in mind, your first PR is not supposed to be the best but a starting point for meeting the requirements, so do not wait until 5 days to show your work. Keep pushing your commits and getting feedback.

[2020-12-30 06:23] antaramunshi commented on #2
@ashishnagpal2498 do i need to create just the wireframe ? I can do the entire homepage frontend part as well.

[2020-12-30 06:25] ashishnagpal2498 commented on #4
@antaramunshi . Since you are designing homepage. Assigning this to @himanshu007-creator
Please provide a relevant color code, fonts. I want you to explore different webpages and then come up with something providing the reason for choosing. You can attach links for sites you visit.

[2020-12-30 06:28] ashishnagpal2498 commented on #2
You just need to create the wireframe. This issue is totally based on designing. Use figma/ psd whichever you feel comfortable.

[2020-12-30 08:40] himanshu007-creator commented on #4
SIR, as we are making a website that will track number of hours of coding, we need to focus on coders.I would suggest to use dark themed background as mostly coders code at night. But using green color for text is TOO MUCH predictable!
For that i suggest, we will use orange color.
and for font, we will use OSWALD font [ light 300 varient]

so i finally propose these:-
background color:- black
text

[2020-12-30 11:27] antaramunshi commented on #2
@ashishnagpal2498 i've done the design but how am i supposed to create a PR for this issue. Like here i don't need to change files. Just the Figma link is supposed to be attached

[2020-12-30 13:52] ProPratik1405 commented on #9
I want to Work On this Project. Can You Please Assign Me a Task

[2021-01-01 05:44] antaramunshi commented on #2
https://www.figma.com/file/US60kwcKQ5jWGZKlTfI8xs/HackStation?node-id=0%3A1

[2021-01-01 16:20] priyanshi-2508 commented on #11
Hello, I want to work on this issue under SWOC.

[2021-01-01 16:20] priyanshi-2508 commented on #8
Hello, I want to work on this issue under SWOC.

[2021-01-01 17:23] IshetaBansal commented on #8
Hey @ashishnagpal2498. Could you please share your LinkedIn or e-mail? Wanted to discuss a few things. Thank you :)

[2021-01-02 06:52] #11 closed

[2021-01-02 09:27] chehak123 commented on #12
I would like to work on it under DWOC

[2021-01-02 11:43] akrish4 commented on #12
#15

[2021-01-02 16:57] urvashi-code1255 opened #16 "Host the Project"
Hey @ashishnagpal2498 Kindly Host this project so that people who are interested in the project can contribute to it without forking this repo :)
Regards
Urvashi Anand

[2021-01-02 17:53] ashishnagpal2498 commented on #16
The project has already been hosted on netlify @urvashi-code1255 . There's not much to show, yet I have added the link. When you contribute/ create a PR you will see. Thanks for suggestion.

[2021-01-02 17:53] #16 closed

[2021-01-04 08:33] urvashi-code1255 commented on #16
Thanks for adding the hosted link in the about :)

[2021-01-06 03:13] Sloth-Panda opened #17 "Update Readme"
A little description of Dwoc, hacktoberfest may be added in the readme below their images and also readme  may be attched with links to code_of_conduct and contributing files

[2021-01-06 03:14] Sloth-Panda commented on #17
Let me know if this sort of work needs to be done

[2021-01-06 05:57] Amit366 commented on #10
Sir, can I work on this issue?

[2021-01-06 18:47] tharunc opened #18 "Integrate Welcome Bot"
Hello there,
         I can add a welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request for the first time as a part of DWOC. Please assign me this issue.
 For reference, kindly check out: https://github.com/apps/welcome

THANK YOU

[2021-01-06 18:48] chehak123 commented on #17
I would like to work on it

[2021-01-08 07:09] yashsehgal commented on #2
Hey, Can I work on this issue?

[2021-01-08 17:15] Kp779 commented on #8
@ashishnagpal2498 I'd like to resolve this issue.

[2021-01-09 11:44] tharunc opened #19 "ADD ISSUE_TEMPLATE"
Hello there,
           I would like to add an issue template for your repository. This template would have four issues namely bug, documentation, feature, proposal. Kindly assign me this issue as a part of **DWOC**.
THANK YOU

[2021-01-13 12:50] kanishkaa24 commented on #2
Hey!
I would love to work on this issue.

[2021-01-14 09:27] jatinjain001 commented on #18
I want to work on this issue , please let me know if it is available

[2021-01-14 09:56] himanshu007-creator opened #20 "Automating project"
I would like to work on this issue.I will create a script that will enable opening website from CLI.
Please add DWOC label to it and assign me this issue.

[2021-01-14 14:12] ashishnagpal2498 commented on #18
Okay @tharunc . You can work on this issue. Do add a line that kindly check contributing guidelines before working on an issue.

[2021-01-14 14:15] #12 closed

[2021-01-14 14:22] #10 closed

[2021-01-14 14:24] ashishnagpal2498 commented on #20
You mean to say adding concurrently script line to run frontend and backend ?

[2021-01-14 14:26] himanshu007-creator commented on #20
No!
I mean to say a simple script, that will open your website, the one in the description of repo.

[2021-01-14 14:27] akrish4 opened #21 "README BADGES AND ALIGNING , ADDING HEADING TO README"
Hi @ashishnagpal2498

I found that the README file is not havinga heading or title of the project
I would be glad if you can assign me this issue , I can add title and add badges also and align everything center

Let me know if you are interested

[2021-01-14 14:28] ashishnagpal2498 commented on #2
@antaramunshi , your link isn't working. Kindly check that asap.

[2021-01-14 14:30] akrish4 opened #22 "README BADGES AND HEADING OF PROJECT"
Hi @ashishnagpal2498

I found that the README file is not havinga heading or title of the project
I would be glad if you can assign me this issue , I can add title and add badges also and align everything center

Let me know if you are interested

![readme1](https://user-images.githubusercontent.com/61831021/104603997-faf54200-56a2-11eb-93e0-4b2a0e81ed19.PNG)

The above image is the badges I am ta

[2021-01-14 14:37] ashishnagpal2498 commented on #19
Hi @tharunc . Issue template has already been added to the project. Thank you.

[2021-01-14 14:37] #19 closed

[2021-01-14 14:40] ashishnagpal2498 commented on #22
Please add badges and heading in a single PR. If you add something else too, let me know I'll upgrade the level. Make it as attractive as possible. I am closing the other issue. Please avoid creating multiple similar kind of issues.

[2021-01-14 14:42] #21 closed

[2021-01-14 14:44] ashishnagpal2498 commented on #17
I don't think that's really required, just to keep readMe compact, that's all. Appreciate your idea. Go for other issues as well.

[2021-01-14 14:44] #17 closed

[2021-01-14 14:45] akrish4 commented on #22
yes sure I will add both in a single pr , Let me which similar issue you are talking abt ? I didn't get u , I have opened one issue for pr template earlier thatsall

[2021-01-14 15:49] ashishnagpal2498 opened #23 "Add logo and user login sign"
Add logo to the navbar. Also add the user sign instead of login/signup text.
![header_Hackstation](https://user-images.githubusercontent.com/36301481/104613883-b15e2480-56ad-11eb-958d-f1616e09b4ae.png)
![hackstationLogo2](https://user-images.githubusercontent.com/36301481/104613985-cb980280-56ad-11eb-9eae-a4d43bc02a5b.png)

[2021-01-14 15:50] ashishnagpal2498 opened #24 "Add logo and user icon to header"
Add logo to the navbar. Also add the user sign instead of login/signup text.
![header_Hackstation](https://user-images.githubusercontent.com/36301481/104613883-b15e2480-56ad-11eb-958d-f1616e09b4ae.png)
![hackstationLogo2](https://user-images.githubusercontent.com/36301481/104613985-cb980280-56ad-11eb-9eae-a4d43bc02a5b.png)

[2021-01-14 15:51] #23 closed

[2021-01-14 16:07] ashishnagpal2498 opened #25 "Check for Templates"
There is a small error, due to which the templates are not showing. Rectify the error and solve.
Reference https://github.com/vinitshahdeo/Water-Monitoring-System/tree/master/.github

[2021-01-14 16:29] ashishnagpal2498 opened #26 "Create a Footer"
Create an attractive footer for the project. Use logo ->
![hackstationLogo](https://user-images.githubusercontent.com/36301481/104619223-a0b0ad00-56b3-11eb-84ce-9b845b1729b5.png)
- It should be responsive.
- Use flex boxes. (strictly, easy implementation)
- Avoid copying code.

[2021-01-14 16:33] ashishnagpal2498 commented on #20
I didn't get the purpose. If you want to run locally - use npm start or use URL for project. Why do you want to add script for URL ?

[2021-01-14 16:34] himanshu007-creator commented on #20
Sir, script will increase efficiency by reducing surfing time.

[2021-01-14 16:39] ashishnagpal2498 commented on #20
Surfing time ? As in if developers are working on the project, they'll be knowing the project URL right, through project description ? Why script ? - URL is mainly for users.

[2021-01-14 16:41] himanshu007-creator commented on #20
Developers/users who will be using ubuntu will find running script easier. They won't have to spend time in copy pasting whole url. Just run the script, WHAM!! there you go

[2021-01-14 16:46] AbhipsaGuru1012 commented on #26
@ashishnagpal2498 can I work on this issue?

[2021-01-14 16:46] ashishnagpal2498 commented on #20
I appreciate your effort. But I don't find any relevance about it. Sorry about that. I hope you understand. Keep contributing and raising new issues :)

[2021-01-14 16:46] #20 closed

[2021-01-14 17:41] shravani05 commented on #24
@ashishnagpal2498 I would like to work on this issue. I am part of SWOC 2021.

[2021-01-14 18:22] muthuannamalai12 commented on #25
I would love to work on this issue as a part of DWOC. Kindly assign me

[2021-01-14 20:59] nehaparmar99 commented on #24
Can I work on this?I'm a participant in SWOC'21.

[2021-01-14 21:28] nehaparmar99 commented on #26
Can I work on it?

[2021-01-15 05:31] antaramunshi commented on #2
https://www.figma.com/file/US60kwcKQ5jWGZKlTfI8xs/HackStation?node-id=0%3A1     Its working for me tho

[2021-01-15 05:40] Vrushti24 opened #27 "Adding splash screen"
I think adding splash screen can look website more attractive.
@ashishnagpal2498

[2021-01-15 05:40] Vrushti24 commented on #27
I would love to take this issue

[2021-01-15 05:46] ashishnagpal2498 commented on #2
Okay @kanishkaa24 , @yashsehgal . Go ahead. Please read the project description thoroughly  and the chats above. Then come up with something different.
I need dashboard, profile selection (whether the person is developer/ org) , charts to be shown.
I already have this design -  https://www.figma.com/file/MTFu2wmtN6eH9osiLY3Chi/Hackstation-open-source?node-id=0%3A1
Do it accordingly.

[2021-01-15 05:55] ashishnagpal2498 commented on #8
Hi @IshetaBansal , are you participating in DWOC or SWOC Because channels are there accordingly. DWOC - discord. SWOC - slack. You can contact there.

[2021-01-15 05:56] yashsehgal commented on #2
Sure!

[2021-01-15 05:57] ashishnagpal2498 commented on #8
@Vrushti24 assigning you this task as well. Please read the project description and create the content.

[2021-01-15 05:59] Vrushti24 commented on #8
Yeah thank u 😁

[2021-01-15 06:09] Vrushti24 commented on #8
Hey @ashishnagpal2498  I have add to homepage but I cannot find homepage can u help me with that ?

[2021-01-15 07:41] ashishnagpal2498 commented on #8
Just add a text file/ md with correct labels( headings/ sections) in points.

[2021-01-15 11:12] AbhipsaGuru1012 commented on #26
![footerPull](https://user-images.githubusercontent.com/58511560/104718252-9abcd980-5750-11eb-98eb-455e635de0a1.PNG)

Hi @ashishnagpal2498 please let me know if this Footer is okay. Thanks!

[2021-01-15 11:55] ashishnagpal2498 commented on #27
What do you mean by splashing screen ? any demo ? Please share.

[2021-01-15 12:28] Vrushti24 commented on #27
A start screen which shows name or logo of ur website for 3-5 second then
ur main page can be seen how about that I have made such screen in flutter
I don't have any demo for html but I can make on that

On Fri, Jan 15, 2021, 5:25 PM Ashish Nagpal <notifications@github.com>
wrote:

[2021-01-15 12:29] Vrushti24 commented on #27
It's kind of start screen

On Fri, Jan 15, 2021, 5:58 PM Vrushti Shah <vrushtishah24@gmail.com> wrote:

[2021-01-15 15:44] kanishkaa24 commented on #25
@ashishnagpal2498 Can I work on this?

[2021-01-15 15:44] kanishkaa24 commented on #26
@ashishnagpal2498 Can I work on this issue ?

[2021-01-15 18:16] Vrushti24 commented on #8
hey @ashishnagpal2498  I have written content which include who are we what do we do I want that once you can check that its just a text file with no pics as you said only text file so should i make pull request ?
Or show u pick of the things written there?

[2021-01-15 19:07] ashishnagpal2498 commented on #26
1) Just Add the logo and make that as link to homepage
2) Add Subscribe tab in center
3) Icons should be aligned horizontally.
Does that look good to you ?

[2021-01-16 04:29] AbhipsaGuru1012 commented on #26
Thank you, I will make the changes and get back soon.

[2021-01-16 07:28] #25 closed

[2021-01-16 07:32] muthuannamalai12 commented on #25
@ashishnagpal2498 Can you please remove SWOC and add DWOC label and the level label of my issue

[2021-01-16 10:08] AbhipsaGuru1012 commented on #26
![footer-new](https://user-images.githubusercontent.com/58511560/104809091-bedfef80-5810-11eb-9040-39cbaf38e94a.PNG)

@ashishnagpal2498 is this footer okay?

[2021-01-17 07:11] Ayushgup85 commented on #24
Can i work on this issue?

[2021-01-17 09:23] shravani05 commented on #24
@ashishnagpal2498 I have solved this issue by adding the logo and replacing the login/sign text with a user icon.
The UI looks as follows:
![ui](https://user-images.githubusercontent.com/43898702/104836377-93720900-58d3-11eb-9785-13208280b8bf.png)

Please let me know if further changes are required.

[2021-01-17 09:32] ashishnagpal2498 commented on #24
Just remove the text "Hackstation" as logo has it. Also if you have used image for user. Please don't use that, instead add icon using font-awesome, add CDN in index.html.

[2021-01-17 09:33] shravani05 commented on #24
Okay, will do that.

[2021-01-17 09:35] ashishnagpal2498 commented on #26
You aren't creating a Footer component. Just the design?

[2021-01-17 10:10] AbhipsaGuru1012 commented on #26
@ashishnagpal2498 this a footer component.

[2021-01-17 10:30] ashishnagpal2498 commented on #26
Okay.. just submit a PR then.

[2021-01-18 13:24] nehaparmar99 commented on #2
Can I work on it?

[2021-01-19 09:49] Vrushti24 commented on #8
added PR #32 its simple as u said only text file no images but its point to point. please check it out

[2021-01-19 16:58] himanshu007-creator commented on #4
@ashishnagpal2498  Sir, i have suggested color code and Typography. What next?

[2021-01-19 17:37] #18 closed

[2021-01-20 04:41] Vrushti24 commented on #27
@ashishnagpal2498  did u thought about this?

[2021-01-21 15:17] #22 closed

[2021-01-22 16:44] shravani05 commented on #24
@ashishnagpal2498 sorry for the delay. I have made the necessary changes and created pr #33
Please let me know if any further changes are required.

[2021-01-27 06:12] aum-singhal commented on #27
I can do this.
We can make a svg file of the logo and then animate it.
I will be contributing under SWoC 2021

[2021-01-27 06:17] aum-singhal commented on #27
https://user-images.githubusercontent.com/69421286/105950994-6244c600-6095-11eb-8844-f3130923710e.mp4

For example you need something like this??

[2021-01-28 03:00] achalesh27022003 commented on #26
Please assign me this issue @ashishnagpal2498 sir.

[2021-01-28 03:03] achalesh27022003 commented on #8
@ashishnagpal2498  sir I would like to take this issue. I am good at content creation and documentation. I would work under DWoC

[2021-02-03 02:25] vismitap commented on #8
Hey! I want to work on this issue. I can write good content for the Landing page. Please assign this to me!

[2021-02-03 10:13] #24 closed

[2021-02-03 10:30] ashishnagpal2498 commented on #2
No updates ? @yashsehgal @kanishkaa24 @antaramunshi .

[2021-02-03 10:31] ashishnagpal2498 commented on #2
Yes @nehaparmar99 Please. 2 days ? I want it asap. Refer to previous chat. You'll get to know the requirement.

[2021-02-03 10:39] ashishnagpal2498 commented on #4
Add these configs which you have selected in App.css and submit a PR.

[2021-02-03 11:32] himanshu007-creator commented on #4
Hi sir, can i  add a separate css file of proposed changes?

[2021-02-03 20:42] aryan040501 commented on #8
@ashishnagpal2498 I am apt in writing and have created content for a lot of websites. I would like to work on this under SWOC!

[2021-02-04 13:45] ashishnagpal2498 opened #34 "Introduction Component"
## 🚀 Feature
- Create an Introduction Component for the project
- Use Simple CSS
- Open to innovation. ( If so, then only add dependency like bootstrap, reactstrap etc)

**Describe the solution you'd like**
- Sample design - Can think and create out of the box -
![Hackstation1](https://user-images.githubusercontent.com/36301481/106900800-f9a4bb80-671c-11eb-8f85-0a1365f3388c.png)

** Alternatives *

[2021-02-04 13:50] ashishnagpal2498 opened #35 "Upcoming Contest Card Component"
## 🚀 Feature

- Strictly based on CSS flexboxes.
- Responsive, react component
- Display on homepage

Open to innovation and suggestions
Sample Design
![Hackstation2](https://user-images.githubusercontent.com/36301481/106901446-c6aef780-671d-11eb-8a74-c2e344e97e62.png)

[2021-02-04 15:00] nehaparmar99 commented on #2
Hey, I thought the issue was related to coding.I won't be able to do it.

[2021-02-04 17:22] sanjay270899 commented on #35
@ashishnagpal2498 I would Like to work on this.

[2021-02-05 07:12] ashishnagpal2498 commented on #27
I got what you are trying to add. But all these things are additional. Currently my focus is to work on project basics.

[2021-02-05 07:14] Vrushti24 commented on #27
Okay no problem 👍

On Fri, Feb 5, 2021, 12:43 PM Ashish Nagpal <notifications@github.com>
wrote:

[2021-02-05 09:25] ashishnagpal2498 commented on #35
Assigned. @sanjay270899 Submit a PR in 2 days.

[2021-02-05 09:31] aum-singhal commented on #27
Can i work on this ??

[2021-02-05 11:48] pccoder-2000 commented on #34
I would like to work on this issue :)

[2021-02-05 11:50] ashishnagpal2498 commented on #34
Cool. Submit a PR in 2 days.

[2021-02-06 09:00] #35 closed

[2021-02-07 16:17] ashishnagpal2498 opened #38 "Login page component"
## 🚀 Feature

- Should be responsive
- Support login credentials ( username and password) + google and github button
- open to innovation.

[2021-02-07 16:19] ashishnagpal2498 opened #39 "Sign Up component"
## 🚀 Feature

- Sign up form
-  should be responsive
- Proper Html tags
- Open to innovation
- Use simple CSS only.

[2021-02-07 16:34] ashishnagpal2498 opened #40 "Amcharts Homepage component"
## 🚀 Feature

Create a component and divide into two parts horizontally -
1. Includes number of hours code - Line chart ( as shown in image)
2. Pie chart -> Shows different languages ( enter random values , HTML, CSS, JS , C++)
![WhatsApp Image 2021-02-07 at 10 00 33 PM](https://user-images.githubusercontent.com/36301481/107152826-1c8ad600-6990-11eb-9523-131be9007e1f.jpeg)
- Responsive and open to

[2021-02-07 16:38] ashishnagpal2498 commented on #34
@pccoder-2000 Update ?

[2021-02-07 16:49] sanjay270899 commented on #40
@ashishnagpal2498 I would Like to work on this.

[2021-02-07 16:50] ashishnagpal2498 commented on #40
Assigned. 2 days. Come up with something different.

[2021-02-07 16:53] Kathuria commented on #39
@ashishnagpal2498 : Can I work on this?

[2021-02-07 16:55] ashishnagpal2498 commented on #39
Assigned. 2 days, submit a PR.

[2021-02-07 17:02] Kathuria commented on #38
@ashishnagpal2498 : Can I work on this as well?

[2021-02-07 17:29] ashishnagpal2498 opened #41 "MongoDB Backend"
## 🚀 Feature

Backend issue - Setup MongoDB and mongoose for the project.

[2021-02-07 17:31] ashishnagpal2498 opened #42 "Create User schema"
## 🚀 Feature

- Backend Issue. Take pull from backend branch
- Setup User Schema. Issue to be done after #41

[2021-02-07 17:46] ashishnagpal2498 commented on #38
One issue at a time. Complete #39 first.

[2021-02-07 17:54] nehaparmar99 commented on #41
Can I work on it?

[2021-02-07 18:11] ashishnagpal2498 commented on #41
Assigned. Submit a PR by tomorrow.

[2021-02-08 03:31] Vrushti24 commented on #38
Can I work on this ?

[2021-02-08 04:46] nehaparmar99 commented on #41
@ashishnagpal2498 just wanted to know if I should setup mongoDB community version which requires the interface or mongoDB atlas?

[2021-02-08 14:49] nehaparmar99 commented on #41
@ashishnagpal2498 I've setup a mongoDB atlas connection.You'll have to add your credentials in the variables.json file in config folder.

[2021-02-08 16:24] Kathuria commented on #39
@ashishnagpal2498 : Please review the PR

[2021-02-09 08:07] nehaparmar99 commented on #41
Also, I'll be getting points under both SWOC and DWOC for it right?

[2021-02-09 08:36] ashishnagpal2498 commented on #41
Done. Great 👍

[2021-02-09 08:36] #41 closed

[2021-02-09 08:37] ashishnagpal2498 commented on #38
Assigned. 2 days.

[2021-02-09 12:27] vismitap commented on #26
Hey! May I work on this issue?

[2021-02-09 17:53] anushavc commented on #26
can i work on this issue?

[2021-02-09 21:32] Kathuria commented on #39
@ashishnagpal2498 : Incorporated Review Comments, Please have a look.

[2021-02-13 15:20] Soumi150 commented on #34
I would like to work on this.

[2021-02-14 14:58] #40 closed

[2021-02-14 15:00] ashishnagpal2498 commented on #34
Go on @Soumi150 . Submit a PR in 2 days.

[2021-02-14 15:01] ashishnagpal2498 commented on #38
@Vrushti24 PR, update?

[2021-02-14 15:03] ashishnagpal2498 commented on #26
@nehaparmar99 , @kanishkaa24 would you like to work on this issue?

[2021-02-14 15:19] Vrushti24 commented on #38
I m still working on that because I had exam I will complete it asap

On Sun, Feb 14, 2021, 8:31 PM Ashish Nagpal <notifications@github.com>
wrote:

[2021-02-15 05:50] kanishkaa24 commented on #26
Definitely

[2021-02-15 05:52] nehaparmar99 commented on #26
Yes I'd like to

[2021-02-15 08:54] Ajaykumar34 commented on #38
can i work on this issue ?

[2021-02-15 11:47] ashishnagpal2498 commented on #26
Since @nehaparmar99 opted for issue, before @kanishkaa24 . Hence Assigning it to you. 2 days to submit a PR. Please use flex boxes well.

[2021-02-15 13:56] himanshu007-creator opened #47 "Add a contributors table in readme"
## 🚀 Feature

I would like to add a contributor's table in readme
----
- I would like to add a contributor's table in readme

**Describe the solution you'd like**
----
- I would work on it

**Describe alternatives you've considered**
----
- A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
----
- Please add DWOC and level-2 tags

[2021-02-15 14:32] tirlochanarora16 commented on #42
@ashishnagpal2498, what properties are to be included in the user schema?

[2021-02-15 19:11] gupta31 opened #48 "About,home tabs are not responding and have no information in it"
## 🐛 Bug Report

**Describe the bug**
----
- A clear and concise description of what the bug is.

**To Reproduce**
----
- Steps to reproduce the behavior:
  1. Go to '...'
  2. Click on '....'
  3. Scroll down to '....'
  4. See error

**Expected behavior**
-----
- A clear and concise description of what you expected to happen.

**Possible solution**
----
- Describe the solution you thought of.

*

[2021-02-19 10:21] Kathuria commented on #39
@ashishnagpal2498 : Can You please check latest changes, incorporated all review comments. If looks good please merge and close this task.
Thanks.

[2021-02-23 04:56] ashishnagpal2498 commented on #47
Start working. 1 day to submit a PR.

[2021-02-23 05:06] ashishnagpal2498 commented on #26
Since DWOC is about to end. Try to submit a PR asap. @kanishkaa24

[2021-02-23 05:07] ashishnagpal2498 commented on #4
Sure. Submit a PR asap.

[2021-02-23 05:13] #39 closed

[2021-02-23 05:16] ashishnagpal2498 commented on #38
@Vrushti24 ? I don't think it should take so much time.

[2021-02-23 05:19] Vrushti24 commented on #38
Actually I m out of town

On Tue, Feb 23, 2021, 10:46 AM Ashish Nagpal <notifications@github.com>
wrote:

[2021-02-23 05:45] ashishnagpal2498 commented on #38
@Ajaykumar34 , would you like to take up the issue and provide a PR in a day ?

[2021-02-23 11:07] kanishkaa24 commented on #26
What all components are required?

[2021-02-24 09:06] #47 closed

[2021-02-24 09:38] ashishnagpal2498 opened #51 "Create About Page"
## 🚀 Feature

**Is your feature request related to a problem? Please describe.**
----
- Create an about component for the project.
- Link that to the route
- Responsive and attractive design

[2021-02-25 16:18] #4 closed

[2021-02-26 11:40] dollyjain51099 commented on #26
I would like to work on this issue, @ashishnagpal2498 kindly assign it to me!

[2021-02-26 11:40] Aniket118 commented on #51
I would like to work on this issue! @ashishnagpal2498

[2021-02-27 08:39] ashishnagpal2498 commented on #26
Swoc21 last day tomorrow. Submit a PR by the end of day. @dollyjain51099 assigned. Please refer to previous chat. Responsive, flex boxes. No extra CSS.

[2021-02-27 08:40] ashishnagpal2498 commented on #51
Assigned. Make sure you fulfill the requirements.
Submit a PR by the end of the day. Since tomorrow is last day for Swoc21

[2021-02-27 08:49] ashishnagpal2498 commented on #42
Email, username, Name, organization, bio, GitHub and LinkedIn profile link, phone number. Rest you can add accordingly.
Password should be separate schema (use bcrypt to encrypt it).

PS:- Let it be behind. I'll look into it. Also SWOC21 last day tomorrow. Submit a PR by end of day.

[2021-02-27 13:32] tirlochanarora16 commented on #42
Can I use the mongoose library for creating Schema? @ashishnagpal2498

[2021-02-27 13:53] ashishnagpal2498 commented on #42
Ya ya go ahead.

[2021-02-27 14:18] tirlochanarora16 commented on #42
Hey it's showing a 403 forbidden error while I try to push my branch. @ashishnagpal2498

[2021-02-28 06:15] ashishnagpal2498 commented on #42
Did you fork the repository ? I hope you are submitting a PR correctly.

[2021-02-28 06:16] #27 closed

[2021-02-28 06:19] ashishnagpal2498 commented on #26
@dollyjain51099 update?

[2021-02-28 07:06] tirlochanarora16 commented on #42
@ashishnagpal2498 sorry I forgot to fork the repository, do you still require a PR or the project is submitted for SWOC?

[2021-02-28 09:50] ashishnagpal2498 commented on #42
Yes you can submit till end of the day.

[2021-02-28 11:59] tirlochanarora16 commented on #42
created PR for user schema @ashishnagpal2498

[2021-06-12 15:39] FreelancerAnkit commented on #42
@ashishnagpal2498 , I have created Userschema for this, i will create a PR for same. Please check it.

[2021-08-21 10:32] zaidm124 commented on #38
Are you guys still active??

[2021-08-24 15:00] ashishnagpal2498 commented on #38
Yes !!

[2021-12-05 10:25] nawed2611 commented on #51
Is this issue still open?

[2021-12-07 09:04] kkg2001 opened #54 "Badges and star rating for participants"
## 🚀 Feature

**Is your feature request related to a problem? Please describe.**
----
- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
----
- A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
----
- A clear and concise description of any alternative solutions o

[2021-12-07 09:19] kkg2001 commented on #54
@SWOC21

#SWOC21

[2021-12-08 06:19] sn2606 opened #55 "Adding a footer"
## 🚀 Footer

**Footer is not visible/Implemented**
----
- In all the pages, footer component is not visible.

**Implementing footer**
----
- I would like to add a footer component with links to other pages

**Alternatives**
----
- None considered, since footer idea is already included in website.

**Additional context**
----
- This is how it looks right now
![image](https://user-images.githubuserc

[2021-12-09 19:12] ashishnagpal2498 commented on #55
Hi @sn2606, Thank you for raising this issue. Yes you can start working on it. Please come up with a different design.

[2021-12-09 19:13] ashishnagpal2498 commented on #51
Yes, it is open. You can work on it @nawed2611 .

[2021-12-09 19:16] ashishnagpal2498 commented on #54
Great idea @kkg2001 . Yes you can start working on this issue.

[2021-12-10 08:57] nawed2611 commented on #51
Can you let me know what all to include on the page? And would it be counted as a SWOC contribution?

[2021-12-11 19:45] ashishnagpal2498 commented on #51
Yes, so include the content of the project description along with your innovation....

[2021-12-12 07:28] mandeep168 commented on #38
Can I work on this.

[2021-12-12 14:10] ashishnagpal2498 commented on #38
Yes @mandeep168 . You can work on this as part of SWOC.

[2021-12-12 14:13] #26 closed

[2021-12-12 14:15] #42 closed

[2021-12-12 14:16] #48 closed

[2021-12-13 10:14] ashishnagpal2498 opened #56 "Responsive Header"
## 🐛 Bug Report

**Describe the bug**
----
- The header is not responsive for mobile screen sizes.

**Expected behavior**
-----
- Create the header responsive. Currently all the Navbar items shown in mobile size. create a dropdown.

**Screenshots**
----
- Currently

![image](https://user-images.githubusercontent.com/36301481/145793340-699c63b8-df9d-45cf-bdb4-3bf78fd84fd9.png)

- Expected
![header_

[2021-12-13 11:46] Reckon77 commented on #56
Hi there, I would like to work on this issue

[2021-12-13 19:27] kkg2001 commented on #54
Sir,I wanted to ask what all other parameters we could include in
determining the star rating of participants?
The ones I am considering our
1.)Time factor
2.)How often a participant take part in contests and his/her individual
performance.
3.)How often the participant solves problems and we could set a benchmark
that after answering certain number of questions correctly he/she will be
awarded 1 s

[2021-12-16 04:42] Inrmanish commented on #56
plz see my pull req.

[2021-12-17 15:50] Shofiya2003 commented on #55
Hello. Can I work on this issue?

[2021-12-17 16:06] Shofiya2003 commented on #51
Hello. If this issue is still nor resolved can I work on this issue as a part of SWOC 2021? Thanks a ton.

[2021-12-19 14:09] #56 closed

[2021-12-19 14:17] ashishnagpal2498 commented on #54
Well, the first 3 points you mentioned are satisfying to provide ratings to a user. So, I think initially that would suffice .
Anyway, how would you track 4th point ?

[2021-12-19 14:26] kkg2001 commented on #54
I will go with the first three points and well I am not sure about the 4th point. Maybe if the workshops are organized on that particular platform then we can track it through the participants' attendance or the participant certificate he/she gets after completing certain sets of tasks(to make sure that participant not just merely participates for the sake of participation)

[2021-12-27 15:16] aakankshabhende commented on #55
Any updates? @sn2606

[2021-12-27 15:19] aakankshabhende commented on #54
Any updates? @kkg2001

[2021-12-27 15:21] aakankshabhende commented on #51
Any updates? @nawed2611

[2021-12-27 16:33] sn2606 commented on #55
Hello, yes I am almost done, I am sorry for being late, I was swamped by end-of-semester exams. I will open the PR in at most 3 days.

[2021-12-27 18:54] kkg2001 commented on #54
I am working on it. I am considering the hackerrank standards of awarding of badges based on number of points the participants and languages used. I have used html and css along with javascript,is it fine? One thing is that I am required to enter ratings for the participant but in actuality it should be automatically done based on the data, also it would also require some data of participants in o

[2021-12-28 06:45] nawed2611 commented on #51
Working on it! Was a bit busy due to exams.

[2021-12-29 06:41] aakankshabhende commented on #55
No worries :) @sn2606

[2021-12-29 06:48] aakankshabhende commented on #54
The parameters you told were the amount of time spent on the coding platform and the marks scored during each contest for rating.
You will have to code this in react and style it using css @kkg2001

[2021-12-29 06:50] aakankshabhende commented on #51
No worries :) @nawed2611 . But try to make PR soon.

[2021-12-29 18:59] nawed2611 commented on #51
#60
I have submitted a PR for the issue. I'm fairly new to open-source so apologies if I made any mistakes in writing the PR message 😅.  I have tried to make the About page look consistent with the website with some UI changes.

[2021-12-30 02:34] aakankshabhende commented on #51
No problem do tell if you face any issues in making PR

[2021-12-30 13:49] kkg2001 commented on #54
Ok so I will giving time, number of questions solved, number of contests
participated initially and later on it can be modified.
Also do you want me to build a React application or simply code in react
and style in css like you mentioned?

On Wed, 29 Dec, 2021, 12:19 pm Aakanksha Bhende, ***@***.***>
wrote:

[2021-12-31 04:31] aakankshabhende commented on #54
Code in react, style in css and you will have to integrate it with the already existing code in this repository @kkg2001

[2021-12-31 05:35] #51 closed

[2021-12-31 13:26] sn2606 commented on #8
I would like to work on this issue if it's still available for SWOC 2.0

[2022-01-01 16:02] #55 closed

[2022-01-05 10:54] nawed2611 commented on #34
Hi! I wanted to work on this issue.

[2022-01-06 07:52] sn2606 opened #62 "Upcoming Page Design, Content, and Implementation"
## 🚀 Upcoming Page for Hackstation

**Problem Description**
----
- There is nothing visible on the upcoming page

**Proposed Solution**
----
- I would like to design and implement the frontend of the Upcoming page
- I would also like to write content for it that will be displayed on the page till the backend is integrated

**Future scope: Backend**
----
- In near future, I would also like to integ

[2022-01-06 13:09] aakankshabhende commented on #62
You can start working on it @sn2606

[2022-01-06 17:29] ashishnagpal2498 opened #63 "Find APIs"
## 🚀 Feature

**Is your feature request related to a problem? Please describe.**
----
- I want to get the APIs of different coding Platforms which will be used to display the upcoming contests.

**Describe the solution you'd like**
----
- Simple solution would be to list all the top coding platform such as CodeForces, CodeChef HackerEarth etc APIs along with get methods.

[2022-01-07 04:48] sn2606 commented on #63
I would like to work on this issue. I have already started finding some solutions (I am working on the upcoming page)
[This](https://kontests.net/api) is something useful I found.

[2022-01-25 05:29] akshat-kumar2109 commented on #38
Is this issue still on?

[2022-01-25 13:41] shrinishant commented on #62
@aakankshabhende can i also work on this issue pls?

[2022-02-08 18:05] ashishnagpal2498 opened #64 "Create a Profile Page"
## 🚀 Feature

#### Requirements
- You need to design a Profile page in ReactJs.
- The profile page must include
    1. Profile picture
    2. Background Cover picture
    3. Graphs to display the activity
    4. Profiles linked by user - CodeForces, codeChef, hackerRank, icons
    5. Rankings
    6. Follows

- Page should be response.
Reference
![image](https://user-images.githubusercontent.com/36

[2022-02-08 18:07] #2 closed

[2022-02-08 18:07] ashishnagpal2498 commented on #8
Hey @sn2606 , would you like to take up the issue ?

[2022-02-08 18:08] ashishnagpal2498 commented on #34
Hey @nawed2611 , would you like to take up the issue ?

[2022-02-08 18:09] ashishnagpal2498 commented on #38
Yes, @akshat-kumar2109 , would you like to take up this issue ?

[2022-02-09 13:04] nawed2611 commented on #34
Sure, can you explain the issue a bit?

[2022-02-11 08:38] ashishnagpal2498 commented on #34
Okay, so basically this is a simple component which is to be placed on Home page between cards and header.
It should include project description and what we do.
- You can use caraousel or fixed image with parallax effect.
- Page should be responsive
Open to suggestions and innovations.

Can you complete this in next 2 days ?

[2022-02-11 10:59] nawed2611 commented on #34
Sure, I'll start working on this. Please assign me the issue.

[2022-02-15 16:41] ashishnagpal2498 commented on #34
@nawed2611 update ?

[2022-03-02 14:22] ashishnagpal2498 commented on #63
hello @sn2606 , thanks for providing this link. Can you add a text file with this link as content as a PR. Today is last day of SWOC.